
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoTH{
    width: 150px;
    height: 150px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
} 
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    display: flex;
    flex: 1;
}
.giaodienAD{
    width: 1300px;
    height: 660px;
}
.sidebar {
    background-color: #b3e5fc;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

.sidebar a {
    display: block;
    color: #007acc;
    text-decoration: none;  
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    font-size:17px
}

.sidebar a:hover {
    background-color: #007acc;
    color: #ffffff;
}

/* .content {
    margin-left: 270px;
    padding: 20px;
} */
.footer{
    border-top:5px double #004667;
    line-height:20px;
    background-color: #55acea;
    text-align:center;
    /* căn giữa */
    /* font-variant:small-caps; đổi kiểu chữ */
    /* clear:both; */
}